myminermonitor.xcworkspace/xcuserdata/Aron.xcuserdatad/UserInterfaceState.xcuserstate 
Pods/Pods.xcodeproj/xcuserdata/aronspringfield.xcuserdatad/xcschemes/xcschememanagement.plist
myminermonitor.xcworkspace/xcuserdata/aronspringfield.xcuserdatad/UserInterfaceState.xcuserstate
myminermonitor.xcworkspace/xcuserdata/aronspringfield.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
myminermonitor.xcworkspace/xcuserdata/aronspringfield.xcuserdatad/UserInterfaceState.xcuserstate
